# Ryan Thomas, Jason Mullin

# Assignment 3

On our second Data set, when making our Decision Tree Classifier, we put in the max_depth peramater and set it to 15, making the tree stop once it reaches a depth of 15. We also used the entropy criterion for both of the models.

Overall as a group, I think we completed this project all putting in the same level of work. Besides the one time we worked on it inside of class, most of the project was completed remotely. Throughout the process, we had steady communication back and forth with one another. By creating a google document we were able to share relevant information if a problem arose. Our third member Steven joined the team late and because we were basically finished by the time he joined, he decided to do his own data set.

In [18]:
import pandas as pd
from sklearn import tree
from treeviz import tree_print
from sklearn.metrics import accuracy_score

# The Tennis Data Set

In [19]:
#Reads data set in
tennis_df = pd.read_csv('tennis_numeric.csv')
tennis_df.head()

,outlook_sunny,outlook_overcast,outlook_rainy,temperature,humidity,windy,play
0,1,0,0,85,85,0,no
1,1,0,0,80,90,1,no
2,0,1,0,83,86,0,yes
3,0,0,1,70,96,0,yes
4,0,0,1,68,80,0,yes

In [20]:
#Dropping the play category
features_df = tennis_df.drop(['play'], axis = 1)
features_df.head()

,outlook_sunny,outlook_overcast,outlook_rainy,temperature,humidity,windy
0,1,0,0,85,85,0
1,1,0,0,80,90,1
2,0,1,0,83,86,0
3,0,0,1,70,96,0
4,0,0,1,68,80,0

In [21]:
#Creates a dataframe of the targetted label
target = pd.DataFrame(tennis_df['play'])
target.head()

  play
0   no
1   no
2  yes
3  yes
4  yes

In [22]:
#Creates a desicion tree model with "entropy"
tennistree = tree.DecisionTreeClassifier(criterion = 'entropy')

In [23]:
tennistree.fit(features_df, target)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [24]:
#Creates a data tree to visualize
tree_print(tennistree, features_df)

if outlook_overcast =< 0.5:
  |then if humidity =< 82.5:
  |  |then if temperature =< 66.5:
  |  |  |then no
  |  |  |else yes
  |  |else if humidity =< 95.5:
  |  |  |then no
  |  |  |else yes
  |else yes
<------->
Tree Depth:  3

In [25]:
#Creating a data frame of the prediction
result = tennistree.predict(features_df)
result_df = pd.DataFrame(result)
result_df.columns = ['play']
result_df.equals(target)

True

In [26]:
#Printing the accuarcy score 
print("The Accuracy of the tennis data set: {}".format(accuracy_score(target,result)))

The Accuracy of the tennis data set: 1.0

# The Channing Dataset

In [27]:
#Reading in the new data set and checking the first 5 rows
channing = pd.read_csv("channing.csv")
channing.head()

   Unnamed: 0   sex  entry  exit  time  cens
0           1  Male    782   909   127     1
1           2  Male   1020  1128   108     1
2           3  Male    856   969   113     1
3           4  Male    915   957    42     1
4           5  Male    863   983   120     1

In [28]:
#Dropping the two columns that are non-numeric
chan_features = channing.drop(["sex","Unnamed: 0"], axis = 1)
chan_features.head()

   entry  exit  time  cens
0    782   909   127     1
1   1020  1128   108     1
2    856   969   113     1
3    915   957    42     1
4    863   983   120     1

In [29]:
#Creating a data frame of the dropped column
chan_target = pd.DataFrame(channing["sex"])
chan_target.head()

    sex
0  Male
1  Male
2  Male
3  Male
4  Male

In [30]:
#Printing the tree with "entropy" and with a max depth of 15 for the tree
chan_tree = tree.DecisionTreeClassifier(criterion = "entropy", max_depth = 15)
chan_tree.fit(chan_features,chan_target)
tree_print(chan_tree, chan_features)

if entry =< 952.0:
  |then if cens =< 0.5:
  |  |then if entry =< 805.5:
  |  |  |then Female
  |  |  |else if entry =< 939.5:
  |  |  |  |then if entry =< 935.5:
  |  |  |  |  |then if entry =< 926.5:
  |  |  |  |  |  |then if entry =< 806.5:
  |  |  |  |  |  |  |then Male
  |  |  |  |  |  |  |else if entry =< 816.0:
  |  |  |  |  |  |  |  |then Female
  |  |  |  |  |  |  |  |else if entry =< 817.5:
  |  |  |  |  |  |  |  |  |then Male
  |  |  |  |  |  |  |  |  |else if exit =< 863.5:
  |  |  |  |  |  |  |  |  |  |then Female
  |  |  |  |  |  |  |  |  |  |else if exit =< 868.0:
  |  |  |  |  |  |  |  |  |  |  |then Male
  |  |  |  |  |  |  |  |  |  |  |else if exit =< 1031.5:
  |  |  |  |  |  |  |  |  |  |  |  |then if exit =< 1011.5:
  |  |  |  |  |  |  |  |  |  |  |  |  |then if exit =< 974.0:
  |  |  |  |  |  |  |  |  |  |  |  |  |  |then if exit =< 934.5:
  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |then Female
  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |else Female
  |  |  |  |  |  |  |  |  |  |  |  |  |  |else if exit =< 983.5:
  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |then Female
  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |else Female
  |  |  |  |  |  |  |  |  |  |  |  |  |else if entry =< 880.5:
  |  |  |  |  |  |  |  |  |  |  |  |  |  |then if exit =< 1015.5:
  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |then Female
  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |else Male
  |  |  |  |  |  |  |  |  |  |  |  |  |  |else if exit =< 1022.5:
  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |then Female
  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |else Female
  |  |  |  |  |  |  |  |  |  |  |  |else if entry =< 922.5:
  |  |  |  |  |  |  |  |  |  |  |  |  |then Female
  |  |  |  |  |  |  |  |  |  |  |  |  |else if exit =< 1061.0:
  |  |  |  |  |  |  |  |  |  |  |  |  |  |then Male
  |  |  |  |  |  |  |  |  |  |  |  |  |  |else Female
  |  |  |  |  |  |else Female
  |  |  |  |  |else if time =< 131.5:
  |  |  |  |  |  |then Male
  |  |  |  |  |  |else Female
  |  |  |  |else Female
  |  |else if exit =< 792.5:
  |  |  |then Male
  |  |  |else if exit =< 868.5:
  |  |  |  |then Female
  |  |  |  |else if entry =< 856.5:
  |  |  |  |  |then if entry =< 855.0:
  |  |  |  |  |  |then if exit =< 910.0:
  |  |  |  |  |  |  |then if exit =< 879.5:
  |  |  |  |  |  |  |  |then Male
  |  |  |  |  |  |  |  |else if time =< 69.5:
  |  |  |  |  |  |  |  |  |then if exit =< 901.5:
  |  |  |  |  |  |  |  |  |  |then if exit =< 888.0:
  |  |  |  |  |  |  |  |  |  |  |then Female
  |  |  |  |  |  |  |  |  |  |  |else if time =< 65.0:
  |  |  |  |  |  |  |  |  |  |  |  |then Male
  |  |  |  |  |  |  |  |  |  |  |  |else Female
  |  |  |  |  |  |  |  |  |  |else Female
  |  |  |  |  |  |  |  |  |else Male
  |  |  |  |  |  |  |else if time =< 129.5:
  |  |  |  |  |  |  |  |then if time =< 109.5:
  |  |  |  |  |  |  |  |  |then if exit =< 942.5:
  |  |  |  |  |  |  |  |  |  |then Female
  |  |  |  |  |  |  |  |  |  |else Male
  |  |  |  |  |  |  |  |  |else Female
  |  |  |  |  |  |  |  |else Male
  |  |  |  |  |  |else Male
  |  |  |  |  |else if exit =< 1024.0:
  |  |  |  |  |  |then if exit =< 993.5:
  |  |  |  |  |  |  |then if exit =< 992.0:
  |  |  |  |  |  |  |  |then if exit =< 872.5:
  |  |  |  |  |  |  |  |  |then Male
  |  |  |  |  |  |  |  |  |else if time =< 32.0:
  |  |  |  |  |  |  |  |  |  |then Female
  |  |  |  |  |  |  |  |  |  |else if time =< 36.5:
  |  |  |  |  |  |  |  |  |  |  |then Male
  |  |  |  |  |  |  |  |  |  |  |else if time =< 116.0:
  |  |  |  |  |  |  |  |  |  |  |  |then if exit =< 967.5:
  |  |  |  |  |  |  |  |  |  |  |  |  |then if time =< 43.0:
  |  |  |  |  |  |  |  |  |  |  |  |  |  |then Male
  |  |  |  |  |  |  |  |  |  |  |  |  |  |else if entry =< 903.0:
  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |then Female
  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |else Male
  |  |  |  |  |  |  |  |  |  |  |  |  |else Female
  |  |  |  |  |  |  |  |  |  |  |  |else Male
  |  |  |  |  |  |  |  |else Male
  |  |  |  |  |  |  |else if exit =< 1011.5:
  |  |  |  |  |  |  |  |then Female
  |  |  |  |  |  |  |  |else if exit =< 1013.0:
  |  |  |  |  |  |  |  |  |then if time =< 115.5:
  |  |  |  |  |  |  |  |  |  |then Male
  |  |  |  |  |  |  |  |  |  |else Female
  |  |  |  |  |  |  |  |  |else Female
  |  |  |  |  |  |else if time =< 116.5:
  |  |  |  |  |  |  |then if entry =< 939.5:
  |  |  |  |  |  |  |  |then if time =< 109.0:
  |  |  |  |  |  |  |  |  |then Female
  |  |  |  |  |  |  |  |  |else Male
  |  |  |  |  |  |  |  |else Male
  |  |  |  |  |  |  |else Female
  |else if exit =< 1162.5:
  |  |then if entry =< 1035.0:
  |  |  |then if entry =< 953.5:
  |  |  |  |then Male
  |  |  |  |else if exit =< 1150.0:
  |  |  |  |  |then if exit =< 964.5:
  |  |  |  |  |  |then Female
  |  |  |  |  |  |else if time =< 5.5:
  |  |  |  |  |  |  |then Male
  |  |  |  |  |  |  |else if time =< 12.5:
  |  |  |  |  |  |  |  |then Female
  |  |  |  |  |  |  |  |else if exit =< 1009.5:
  |  |  |  |  |  |  |  |  |then if exit =< 996.5:
  |  |  |  |  |  |  |  |  |  |then if exit =< 986.5:
  |  |  |  |  |  |  |  |  |  |  |then if time =< 17.5:
  |  |  |  |  |  |  |  |  |  |  |  |then if time =< 14.5:
  |  |  |  |  |  |  |  |  |  |  |  |  |then Male
  |  |  |  |  |  |  |  |  |  |  |  |  |else Female
  |  |  |  |  |  |  |  |  |  |  |  |else Male
  |  |  |  |  |  |  |  |  |  |  |else Female
  |  |  |  |  |  |  |  |  |  |else if time =< 19.5:
  |  |  |  |  |  |  |  |  |  |  |then Female
  |  |  |  |  |  |  |  |  |  |  |else if time =< 46.5:
  |  |  |  |  |  |  |  |  |  |  |  |then Male
  |  |  |  |  |  |  |  |  |  |  |  |else Female
  |  |  |  |  |  |  |  |  |else if exit =< 1017.0:
  |  |  |  |  |  |  |  |  |  |then Female
  |  |  |  |  |  |  |  |  |  |else if exit =< 1129.5:
  |  |  |  |  |  |  |  |  |  |  |then if exit =< 1125.0:
  |  |  |  |  |  |  |  |  |  |  |  |then if time =< 29.5:
  |  |  |  |  |  |  |  |  |  |  |  |  |then Female
  |  |  |  |  |  |  |  |  |  |  |  |  |else if time =< 32.5:
  |  |  |  |  |  |  |  |  |  |  |  |  |  |then Male
  |  |  |  |  |  |  |  |  |  |  |  |  |  |else if entry =< 1022.5:
  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |then Female
  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |else Female
  |  |  |  |  |  |  |  |  |  |  |  |else Male
  |  |  |  |  |  |  |  |  |  |  |else Female
  |  |  |  |  |else Male
  |  |  |else if time =< 40.5:
  |  |  |  |then if exit =< 1043.5:
  |  |  |  |  |then Female
  |  |  |  |  |else Male
  |  |  |  |else if exit =< 1135.5:
  |  |  |  |  |then Female
  |  |  |  |  |else if exit =< 1145.5:
  |  |  |  |  |  |then Male
  |  |  |  |  |  |else Female
  |  |else Female
<------------------------------------------->
Tree Depth:  15

In [31]:
#Making a date frame of the prediction
chan_result = chan_tree.predict(chan_features)
chan_result_df = pd.DataFrame(chan_result)
chan_result_df.columns = ['sex']
chan_result_df.equals(chan_target)

False

In [32]:
#Printing the accuracy score
print("The Accuracy of the channing data set: {}".format(accuracy_score(chan_target,chan_result)))

The Accuracy of the channing data set: 0.9112554112554112

Our accuracy is not too far away from a perfectly accuarate model with only about .09 off.